.popup__button-save {
  background-color: black;
  color: white;
  height: 50px;
  width: 358px;
  font-size: 18px;
  line-height: 1.22;
  margin: 48px auto 0;
  border-radius: 2px;
}
@media screen and (max-width: 540px) {
  .popup__button-save {
    width: 238px;
    font-size: 14px;
    margin: 45px auto 0;
  }
}
